.App{
  display: flex;
  flex-direction: row;
}

@media (max-width : 768px){
  .App{
    display: flex;
    flex-direction: column;
    background-color: lightpink;
  }
}
.sidepanel{
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  gap: 5px;
  height: 100vh;
}

.mobilenavigator{
  display: none;
}

@media (max-width : 768px) {
  .sidepanel{
    display: none;
  }
  .mobilenavigator{
    display: block;
  }
}

.newchatbutton{
  width: 100%;
}

.pastchatbutton{
  width: 80%;
}

.chatdiv{
  background-color: lightpink;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.chatdiv2{
  background-color: lightpink;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
}

.titlediv{
  height: 30vh;
}

.predefined_messages_grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2.1fr);
  gap: 10px;
}

@media(max-width : 768px) {
  .predefined_messages_grid{
    display: flex;
    flex-direction: column;
  }
}

.predefinedmessage{
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.chatpanel{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: fixed;
  bottom: 8px;
}

.inputquestion{
  width: 70%;
}

.askbutton{
  width: 10%;
}

.savebutton{
  width: 10%;
}

.mymessage {
  background-color: white;
  color: black;

}
.aimessage {
  background-color: black;
  color: white;
}

.aimessage:hover .Rating_Feedback{
  display: block;
}

.Rating_Feedback{
  display: none;
}

.chatdiv3{
  background-color: lightpink;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

@media(max-width : 768px) {
  .chatdiv3{
    background-color: lightpink;
    display: flex;
    flex-direction: column;
  }
}

.chats{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px;
}



